body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: rgb(31, 121, 31);
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.container {
    border: 3px solid rgb(31, 121, 31);
    border-radius: 10px;   /* rounded corners */
    padding: 10px;         /* space inside */
    width: 750px;
    height: 500px;
    margin: 50px auto;     /* center it */
}

.choices {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.choices button {
    border: none;
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    min-width: 150px;
    box-sizing: border-box;
}

.btnrock button {
    background: #f84d94;
}

.btnpaper button {
    background: #f1cc52;
}

.btnscissors button {
     background: #5dbbe0;
}


.choices button:hover {
    background: #5feb66;
}
.result {
    margin-top: 30px;
    font-size: 22px;
}

#player-choice,
#computer-choice{
    padding-top: 20px;
    font-size: 1.8em;
    font-weight:600;
}

#resultDisplay {
    font-size: 20px;
    border: 3px solid rgb(31, 121, 31);
    border-radius: 0.5em;
    padding: 10px 50px;
    width: fit-content;
    text-align: center;
    margin: 20px auto;  
}